{{ if $img := (resources.Get .Destination) }}
  {{ $jpeg_lg := $img.Resize "1280x jpeg q60" }}
  {{ $jpeg_sm := $img.Resize "640x jpeg q60" }}
  {{ $webp_lg := $img.Resize "1280x webp lossless" }}
  <a
    style="text-decoration:none;"
    href="{{ $img.RelPermalink }}">
    <picture
      class="rendered-image">
      <source
        type="image/webp"
        srcset="{{ $webp_lg.RelPermalink }} 1280w"
        sizes="1280px"
      />
      <img
        src="{{ $jpeg_lg.RelPermalink }}"
        srcset="{{ $jpeg_sm.RelPermalink }} 640w, {{ $jpeg_lg.RelPermalink }} 1280w"
        sizes="(max-width: 640px) 640px, 1280px"
        alt="description"
      />
    </picture>
  </a>
{{ else }}
  {{ if .Text }}
    <p>Sorry, {{ .Text }} failed to render.</p>
  {{ else }}
    <p>Sorry, Image failed to render.</p>
  {{ end }}
{{ end }}