{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <div class="masonry-container">
    {{ range .Pages.ByDate.Reverse }}
    <a href="{{ .RelPermalink }}" class="masonry-item">
      <div>
        <div>
          <h5>{{ .Title }}</h5>
          <h6>{{ .Date.Format "Monday, January 2, 2006" }}</h6>
        </div>
        <img src="{{ with .Site.Params.imagehost }}{{ . }}{{ end }}{{ index .Params.images 0 }}" alt="Preview Image.">
      </div>
    </a>
    {{ end }}
  </div>
{{ end }}