{{ define "main" }}
  {{ partial "banner.html" . }}
  <section class="masonry-container">
    {{ range .Site.Params.featured }}
      <a href="{{ .link }}" class="masonry-item">
        <div>
          {{ with resources.Get .file }}
            {{ $webp := .Resize "640x webp q75" }}
            {{ $jpeg := .Resize "640x jpeg q60" }}
            <picture>
              <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
              <img src="{{ $jpeg.RelPermalink }}" alt="alt">
            </picture>
          {{ end }}
        </div>
      </a>
    {{ end }}
  </section>
  <section>
    <h3>Recent Posts</h3>
    {{ range (.Paginate (.GetPage "post").Pages.ByDate.Reverse 10).Pages }}
      <a href="{{ .RelPermalink }}">
        <h4>
          <mark class="subtext">{{ .Date.Format "January 2, 2006" }}</mark> {{ .Title }}
        </h4>
      </a>
    {{ end }}
  </section>
  <section class="tags">
    <h3>Tags</h3>
    {{ range .Site.Taxonomies.tags.ByCount }}
      <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
    {{ end }}
  </section>
{{ end }}