{{ define "main" }}
  {{ partial "banner.html" . }}
  <section class="masonry-container">
    {{ range .Site.Params.featured }}
      <a href="{{ .link }}" class="masonry-item">
        <div>
          {{ with resources.Get .file }}
            {{ $webp := .Resize "900x webp" }}
            {{ $avif := .Resize "900x avif" }}
            {{ $jpeg := .Resize "900x jpeg" }}
            <picture>
              <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
              <source srcset="{{ $avif.RelPermalink }}" type="image/avif">
              <img src="{{ $jpeg.RelPermalink }}" alt="alt">
            </picture>
          {{ end }}
        </div>
      </a>
    {{ end }}
  </section>
  <section>
    <h3>Recent Posts</h3>
    {{ range (.Paginate (.GetPage "post").Pages.ByDate.Reverse 10).Pages }}
      <a href="{{ .RelPermalink }}">
        <h4>
          <mark class="subtext">{{ .Date.Format "January 2, 2006" }}</mark> {{ .Title }}
        </h4>
      </a>
    {{ end }}
  </section>
  {{ partial "tags.html" . }}
{{ end }}